<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163745254135-3bd2l2ag46n4bl7e1mr1p0ak1jcmr5cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163745254135-3bd2l2ag46n4bl7e1mr1p0ak1jcmr5cl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>163745254135-80hm56i1bkil3a3rl5ls6p6miks7cu6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWE5qSeyBDrZIXWiNrt_-I4GAyQk20F6M</string>
	<key>GCM_SENDER_ID</key>
	<string>163745254135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orientation</string>
	<key>PROJECT_ID</key>
	<string>quiz-commercial</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-commercial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163745254135:ios:b4749635cd7b5ca03461f2</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-commercial-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
